@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{
    --cor-principal:#000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-principal: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}
* {
    margin: 0;
    padding: 0; 
}
body {
    box-sizing: border-box;
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
}
.cabecalho{
    padding: 2% 0% 0% 13%
}
.cabecalho_menu{
    display: flex;
    gap: 80px;
}
.cabecalho_link{
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 5% 13% 17% 13%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.h1 {
    font-size: 36px;
    font-family: var(--fonte-principal);
}
.strong {
    color: var(--cor-terciaria);
}
.h2 {
    font-size: 24px;
    font-family: var(--fonte-principal);
}
.paragrafo {
    font-size: 24px;
    font-family: var(--fonte-secundaria);

}
.div__botoes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.botoes {
    width: 378px;
    /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    gap: 16px;
    font-size: 24px;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    text-align: center;
    border-radius: 16px;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-terciaria);
    border-radius: 8px;
}
.botoes:hover {
    background-color: var(--cor-hover);
    color: var(--cor-terciaria);
}

.rodape {
    color: var(--cor-principal);
    background-color: var(--cor-terciaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 400;
}